* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

div {
    display: inline-block;
    background-color: lightgray;
    width: 200px; 
    height: 200px; 
    margin: 2%;
}

/* ao passar com o curso por cima, passa as intruções abaixo */
.um:hover {
    background-color: red;  
}

a {
    display: block;
}

/* PseudoClasses para Links */

/* 1 - deixa links não visitados com a cor azul */
/* 2- deixa os links visitados com a cor preta */
/* 3- deixa o link da cor laranja quando passamos com o cursor por cima */
/* 4- quando clicamos no link fica verde */
a:link {
    color: blue; 
}
a:visited {
    color: black;
}

a:hover {
    color: orange;
}

a:active {
    color: green;
}
