*  {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

.cabecalho {
    width: 100%;
    background-color: black;
    color: white;
}

.menu {
    display: flex;
}

.item {
    list-style: none;
    margin: 2%;
}

.logo {
    flex-grow: 1;
}

.biografia {
    text-align: center;
    margin: 1.9%;
    color: white;
}

.paragráfo  {
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 1%;
    padding: 1%;
}

#principal {
    padding: 3%;
    margin: 15%;
    background-color: rgb(24, 172, 235);
    border: 2px solid white;
    font-family: arial, helvetica, sans-serif; 
    display: flex;
}

body {
    background-color: black;
}


@media (max-width: 768px){
    .img {
        width: 250px;
        height: 250px;
    }

    .paragráfo {
        text-align: center;
    }
}

@media (max-width: 480px){
    .img {
        width: 200px;
        height: 200px;
        
    }

    figure {
        width: 100%;
    }
}