* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}

body {
    background: black;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    background-color: rgb(24, 56, 82); 
    padding: 30px;
    margin: 20px 20px;
    border-radius: 20px;
    width: 100%;
}

.botão {
    padding: 1.25em;
    border-radius: 1.25em;
    appearance: none;
    border: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgb(107, 107, 107);
}

.btn-1 {
    background-image: linear-gradient( to top, #ef96c5, #ccfbff);
}

.btn-1:hover {
    background-image: linear-gradient( 30deg, #ccfbff, #ef96c5);
}

.btn-2 {
    background-image: linear-gradient( to top, #d74177, #ffe98a)
}

.btn-2:hover {
    background-image: linear-gradient( 30deg, #ffe98a , #d74177)
}

.btn-3 {
    background-image: linear-gradient( to top, #00b7ff, #ffffc7);
}

.btn-3:hover {
    background-image: linear-gradient( 30deg,#ffffc7,#00b7ff);
}

.btn-4 {
    background-image: linear-gradient( to top, #e21c34, #500b28);
}   

.btn-4:hover {
    background-image: linear-gradient( 30deg, #500b28, #e21c34)
}

.opacity-1 {
    background: transparent;
    border: double 2px transparent;
    border-image: linear-gradient(20deg, rgb(127, 7, 201), rgb(221, 4, 206));
    border-image-slice: 1;
    border-radius: 20px;
}

.botão-1 {
    border-right: solid 1px rgb(222, 128, 19);
    padding: 10px;
}

.botão-2 {
    border-right: solid 1px rgb(222, 128, 19);
    padding: 10px;
}

.botão-3 {
    border-right: solid 1px rgb(222, 128, 19);
    padding: 10px;
}

.botão-4 {
    border-right: solid 1px rgb(222, 128, 19);
    padding: 10px;
}

.botão-5 {
    border-right: solid 1px rgb(222, 128, 19);
    padding: 10px;
}



